@import "../../styles/variables.scss";

.card {
  height: 300px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;

  &-front,
  &-back {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-front {
    background-color: $color-white;
  }

  &-back {
    background-color: $color-primary;
  }

  &:hover {
    transform: scale(1.06);
  }
}
